<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='assets/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/preloader.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/cursor.css') }}"
    />
    <title>Bashcraft | VITB</title>
  </head>
  <body class="body">
    <!-- Preloader -->
    <!-- <section class="preloader">
      <span
        ><img
          class="loader_img"
          id="loader_img"
          src="{{ url_for('static', filename='assets/logo.png') }}"
      /></span>
    </section> -->

    <!-- loader -->

    <div class="pg_loader"></div>

    <!-- SVG Preloader -->

    <svg
      class="preloader"
      id="eGxs9DgolEh1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 1920 1080"
      shape-rendering="geometricPrecision"
      text-rendering="geometricPrecision"
      project-id="ed52772553dd4588b797eee7eacc8537"
      export-id="c300871c8f134e20ac18e051d4518c30"
      cached="false"
    >
      <text
        dx="0"
        dy="0"
        font-family='"eGxs9DgolEh1:::Poppins"'
        font-size="200"
        font-weight="800"
        transform="translate(445.840637 610.136459)"
        stroke-width="0"
      >
        <tspan y="0" font-weight="800" stroke-width="0">
          <![CDATA[ bashcraft ]]>
        </tspan>
      </text>
    </svg>

    <!-- Navbar -->
    <nav class="navbar">
      <div class="logo">
        <a href="#">
          <img src="/static/assets/bash.webp" alt="logo" />
        </a>
      </div>
      <div class="login">
        <button
          class="login_btn"
          onmouseenter="on_enter('white')"
          onmouseleave="on_exit('greenyellow')"
          onclick="click_btn('/test')"
        >
          Login
        </button>
      </div>
    </nav>

    <!-- Custom Cursor -->
    <div class="cursor"></div>

    <!-- Content -->
    <section class="content1">
      <div class="welcome">Welcome to</div>
      <div class="bashcraft">
        <h1>./cd bashcraft</h1>
        <h1>BASHCRAFT</h1>
      </div>

      <div class="tagline">
        <p>
          The place to collaborate,create and push the boundaries of what's
          possible
        </p>
      </div>
      <div class="join_us">
        <button
          class="join_btn"
          onclick="click_btn('/test')"
        >
          Join Us
        </button>
      </div>
    </section>

    <!-- section 2 -->
    <section class="content2">hello world</section>
  </body>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/cursor.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
</html>
