<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <!-- loader -->

    <div class="pg_loader"></div>

     <!-- script -->
      <script>
        window.addEventListener("DOMContentLoaded",function() {
            gsap.fromTo('.pg_loader',{
                height: '5000px',
                width: '5000px',
            },{
                height: '0px',
                width: '0px',
                duration: 1.5,
                delay: 0.5,
                ease: 'power1.inOut', 
            });
        });
      </script>
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
</body>
</html>