.preloader {
  position: fixed;
  z-index: 1000;
  background-color: #3fc25b;
  width: 100vw;
  height: 100%;
  display: grid;
  place-items: center;
  fill: white;
}
.preloader text {
  opacity: 0.5;
  animation: fadeinout 3s ease-in-out infinite;
}

@keyframes fadeinout {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

